
/* -------------------------------- 

Colors

-------------------------------- */
$color-accent: #89010F; // Red - Action color
$color-darkest: #1f110b; // Dark Brown
$color-med: #5F3916; // medium brown


/* -------------------------------- 

box shadow
-------------------------------- */

$shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
/* -------------------------------- 
