/* -------------------------------- 

footer

-------------------------------- */ 
footer{
    background-color:$color-darkest;
    padding:1rem;
    margin:auto;   
}
.toDo{
    display:flex;
    justify-content: space-between;
}


