
/* -------------------------------- 

Colors

-------------------------------- */
$color-accent1: #DFEBF2; // Light Blue
$color-darkest: #3a435e; // Dark Blue
$color-med: #9BB1BF; // medium blue
$color-accent:#7fffd4//blue green


